.game-canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1; 
}

.player-input {
	background:transparent;
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    resize: none;
    padding: 8px;
    overflow: hidden;
    font-family: monospace;
    color: white;
}

html {
	background-color: black;
	color: white;
}

.player-input-container {
	display: flex;
	align-items: center;
}

.chat-history {
    width:95%;
    font-size:15px;
    resize: none;
    color: #FFF;
/*    padding: 8px;*/
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    font-family: monospace;
    display: flex;
  flex-direction: column-reverse;
      opacity: 0.2;
      transition: opacity 0.4s ease;

}

.chat-history p {
    margin: 3px;
}

.chat-history:hover {
      opacity: 0.7;
}
.chat-history:active {
      opacity: 0.7;
}

.chat-history:focus {
      opacity: 0.7;
}

.fix {
	position: fixed;
	width: 450px;
	height: 200px;
    top: 85%;
    left: 80%;
	display: flex;
	flex-direction: column; /* Stacks children vertically */
  	justify-content: flex-end; /* Aligns content to the bottom */
    margin-top: -100px; 
    /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
}
